<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Title -->
    <title>Eric McKinney - Web Developer working in Javascript, Ruby, Rails, React, Redux, SQL, and much more.</title>
  </head>

  <!-- Body -->
  <body>

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Eric McKinney</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- About Container -->

    <div class="container-fluid bg-1 text-center" id="about">
        <br>
            <h3 class="margin">Web Production - Design - Development</h3>
            <img src="assets/EricMcKinney.jpeg" class="img-responsive img-circle" style="display:inline" alt="Eric McKinney" width="300" height="300">
            <p class="margin"</p>
            <p>Touring musician turned web developer. Experienced in project management, QA, and strategic e-commerce practices.  </p>
            <p>Knowledgable in Ruby on Rails, JavaScript, SQL, React, Redux, Git, AJAX, HTML, CSS, Photoshop, Premiere, Illustrator, Quickbooks, Paypal, </p>
            <p>Swipe, Shopify, Wordpress, Logic, Ableton, Pro Tools, mixing audio, VR editing, databasing, and customer sevice.</p>
            <p>If I'm not coding or tinkering with a rasberry pi, I enjoy running, cooking, and producing music.</p>
            <p class="margin"</p>
  </div>

  <!-- Projects Container (Grid) -->

  <div class="container-fluid bg-3 text-center" id="projects">
    <h3 class="margin">Projects</h3><br>
      <div class="row">
        <div class="col-md-2"></div>s
       <div class="col-md-4">
         <p>"Cocktails" is a simple CLI gem scraper that uses nokogiri to scrape an online resource for information such as ingredients, history, and flavor of the worlds 50 most popular cocktails.</p>
         <div class="thumbnail">
           <a href="https://github.com/mckinney99/cocktails">
             <img src="assets/project1.png" alt="project1" style="width:100%" height="500px">
             <div class="caption">
             </div>
           </a>
         </div>
       </div>

       <div class="col-md-4">
                 <p>This app allows musicians to collaborate on a setlist from anywhere. Simply create a new setlist, add songs with a link, and share. </p>
         <div class="thumbnail">
           <a href="https://github.com/mckinney99/setlist-maker">
             <img src="assets/project2.png" alt="project2" style="width:100%">
             <div class="caption">
             </div>
           </a>
         </div>
       </div>
       <div class="col-md-2 row"></div>
       <!-- <div class="col-md-4">
         <div class="thumbnail">
           <a href="https://github.com/mckinney99">
             <img src="/w3images/fjords.jpg" alt="project3" style="width:100%">
             <div class="caption">
             </div> -->
           </a>
         </div>
       </div>
     </div>
  </div>
</div>

  <!-- Contact Container -->
  <div class="container-fluid bg-2 text-center" id="contact">

    <h3 class="margin">Let's Work</h3>
    <br>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" id="contact">
        <div class="row">


    <form action="https://formspree.io/mckinney99@gmail.com" method="POST">
    <input class="form-control" id="name" type="text" name="name" placeholder="name"> <br>
    <input class="form-control" id="email" type="email" name="_replyto" placeholder="email"> <br>
    <input class="form-control" type="textarea" name="body" placeholder="message"> <br>
    <input class="form-control" type="submit" value="Send">
    </form>



        </div>
      </div>
    </div>
    <h3 class="margin"></h3>




  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">

  </footer>

  </body>
  </html>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
