body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #ffffff;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h3.margin {
  color: #ffffff;
  letter-spacing: 5px;
}

p {
  font-size: 16px;
  color: white;
  margin: 50px;
}
.margin {
  margin-bottom: 100px;
  margin-top: 100px;
}

.bg-1 {
  background: url("ocean.jpg")no-repeat center center;

}

.img-responsive {
  filter: drop-shadow(0px 0px 30px black);
}

.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;

}
.bg-3 {
  background: url("desert.jpg")no-repeat center center;
  filter: grayscale(30%) opacity(80%);
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container {
  padding-top: 70px;
  padding-bottom: 75px;
}
.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
}

/* .container-nav {
  padding-left: 150px;
  padding-right: 150px;
} */

.navbar, li {
  padding: 0px 10px 0px 10px;
}

.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
  }

.form-control {
  border-radius: 0;
  }

textarea {
  resize: none;
    }
